.panel {
    display: flex;
    justify-content: space-around;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  justify-content: center;
  gap: 20px 18px;
  margin: 20px 0;
  padding: 0;
  list-style-type: none;
}