.container {
	margin: 0 auto;
}

.card {
	display: flex;
	max-width: 1000px;
	overflow: hidden;
	background-color: aliceblue;
	border-radius: 12px;
	box-shadow: 0 4px 12px rgb(0 0 0 / 8%);

	&__image {
		height: 282px;
		object-fit: cover;
	}

	&__description {
		display: flex;
		flex-direction: column;
		gap: 12px;
		padding: 16px 20px;
	}

	&__info {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		gap: 8px;
	}
}

h2 {
	color: #212121;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 1.3;
}

h3 {
	color: #555555;
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.4;
}

.button {
	align-self: flex-start;
	padding: 12px 24px;
	color: white;
	font-weight: 500;
	font-size: 1rem;
	font-family: 'Jost', sans-serif;
	background-color: #3f357d;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.2s ease;

	&:hover {
		background-color: #765acb;
	}
}
