.main {
	margin: 0 auto;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 25px;
	padding: 20px;
	background-color: aliceblue;
	border: 1px solid #58beea;
	border-radius: 8px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 500px;
	max-width: 500px;
	margin: 0 auto;
}

.label {
	display: block;
	margin-bottom: 4px;
	font-weight: 500;
}

.input {
	box-sizing: border-box;
	width: 100%;
	padding: 8px;
	border: 1px solid #cccccc;
	border-radius: 4px;
}

.errorInput {
	background-color: #fff5f5;
	border-color: #dc3545;
}

.error {
	margin-top: 4px;
	color: #dc3545;
	font-size: 0.88rem;
}

.button {
	padding: 12px 24px;
	color: white;
	font-weight: 500;
	font-size: 1rem;
	font-family: 'Jost', sans-serif;
	background-color: #3f357d;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.2s ease;

	&:hover {
		background-color: #765acb;
	}
}
