.card {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background-color: aliceblue;

  &__image {
    height: 282px;
    object-fit: cover;
    width: 100%;
  }

  &__image:hover {
    cursor: pointer;
  }

  &__description {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }

  &__title {
    max-width: 220px;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
  }

  &__buttons {
    display: flex;
    gap: 5px;
  }
}