.likeButton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;    
  justify-content: center;
  width: 24px;
  height: 24px;
  transition: transform 0.1s ease, color 0.2s ease;
  color: rgb(36, 1, 59);

  &.liked {
    color: rgb(36, 1, 59);

    &:hover {
      color: rgb(80, 2, 132);
    }
  }

   /* stylelint-disable-next-line no-duplicate-selectors */
  
   &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.95);
  }
}

.heart {
  width: 100%;
  height: 100%;
  display: block;
}