.main {
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  &__button {
    padding: 12px 24px;
    background-color: #3f357d;
    color: white;
    border: none;
    border-radius: 8px;
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &__button:hover {
      background-color: #765acb;
    }
  }
}