.main {
	margin: 0 auto;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;

	&__button {
		padding: 12px 24px;
		color: white;
		font-weight: 500;
		font-size: 1rem;
		font-family: 'Jost', sans-serif;
		background-color: #3f357d;
		border: none;
		border-radius: 8px;
		cursor: pointer;
		transition: background-color 0.2s ease;

		&:hover {
			background-color: #765acb;
		}
	}
}
