@font-face {
	font-weight: 500;
	font-family: 'Jost';
	font-display: swap;
	src: url('./assets/fonts/Jost-Medium.woff2') format('woff2');
}

@font-face {
	font-weight: 600;
	font-family: 'Jost';
	font-display: swap;
	src: url('./assets//fonts/Jost-SemiBold.woff2') format('woff2');
}
