@font-face {
  font-family: 'Jost';
  src: url('./assets/fonts/Jost-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('./assets//fonts/Jost-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}